                                        <div class="col-lg-6">
    										<select name="CM2" class="form-control">
    											<option value="">Seleccione Referencia 2</option>
    											<optgroup>
    												{% for cm in CablemodemListado %}
    													<option value="{{ cm|join('_') }}">{{ cm|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>
                                    	</div>
                                        <div class="col-lg-6">
    										<select name="CM3" class="form-control">
    											<option value="">Seleccione Referencia 3</option>
    											<optgroup>
    												{% for cm in CablemodemListado %}
    													<option value="{{ cm|join('_') }}">{{ cm|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>
                                    	</div>
                                        <div class="col-lg-6">
    										<select name="CM4" class="form-control">
    											<option value="">Seleccione Referencia 4</option>
    											<optgroup>
    												{% for cm in CablemodemListado %}
    													<option value="{{ cm|join('_') }}">{{ cm|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>
                                    	</div>
                                        <div class="col-lg-6">
    										<select name="CM5" class="form-control">
    											<option value="">Seleccione Referencia 5</option>
    											<optgroup>
    												{% for cm in CablemodemListado %}
    													<option value="{{ cm|join('_') }}">{{ cm|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>
                                    	</div>