	{% extends 'Base/Base.html' %}
	
	{% block Contenido %}
		
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">Reportes</h3>
			</div>
		</div>

        <div class="panel-body">
            {% include 'Menus/menu_reportes.html' %}
                        <!-- Nav tabs -->
                        
       </div>
  
  		<div class="row">
		      <div class="col-lg-12">
    				<div class="panel panel-default">
    					<div class="panel-heading"><strong>Panel 1</strong></div>
    					<div class="panel-body">
    						<div class="row">
    					<!-- inicio -->			
        
    					<!-- fin -->
    					   </div>
                        </div>
                    </div>
                </div>
<!-- /#page-content-wrapper -->
		</div>
	
	{% endblock %}
	
