	{% extends 'Base/Base.html' %}
	
	{% block Contenido %}
		
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">Guiones Mantenimientos</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Creación de Guión</strong></div>
					<div class="panel-body">
						<div class="row">
					<!-- inicio -->			

					<!-- fin -->
					   </div>
                </div>
            </div>
        </div>
<!-- /#page-content-wrapper -->


					
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row" id="Respuesta" style="margin-top: 35px;"></div>
		
	{% endblock %}
	
